 /* Carousel Style / Image Slideshow Crossfade Automatic */

 #carouselExampleFade {
   width: 100%;
   height: 500px;
   overflow: hidden;
   position: relative;
 }

 .carousel-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .carousel-item {
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-item .overlay {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
}




 /*Placeholders for Destination*/

 .card {
   margin: 15px;
   transition: transform 0.2s;
   background: linear-gradient(to bottom, #2971f8, #ffffff);
 }

 .card h3 {
   margin-left: 120px;
   position: relative;
   color: rgb(255, 255, 255);
   text-shadow: 1px 1px 0 black;

 }

 .card:hover {
   transform: scale(1.05);
 }

 .des-con {
   margin-top: 50px;
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 50px;
 }

 .des-con a {
   margin-left: 120px;
 }

 /*Placeholder for Blogs*/

 .blog-des-con {
  display: flex;
  justify-content: normal;
  margin: 20px;
  margin-right: 0.5rem;
  width:max-content; /* Ensures the container takes full width */
  height: 70vh; /* Fixed height for the container */
  overflow-y: auto;
  overflow: hidden; /* Prevents overflow */
  flex-shrink: 0; /* Prevents scaling */
}

.blog-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 361px; /* Fixed width */
  height: 440px; /* Fixed height */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  flex-shrink: 0; /* Prevents scaling */
}

.img-size {
  width: 100%;
  height: 150px; /* Fixed height */
  overflow: hidden;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.fw-bold {
  font-weight: bold;
  word-wrap: break-word; /* Ensures the title wraps correctly */
  overflow-wrap: break-word; /* Additional support for wrapping */
  max-width: 100%; /* Prevents overflow */
}

p {
  margin: 0;
}

.btn {
  margin-top: 10px;
}

/*